body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2843f;
    color: rgb(13, 12, 12);
    position: sticky;
    width: 100%;
    height: 64px;}
  
  .toolbar-title {
    font-size: 1.5rem;
  }
  
  .logout-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #553214;
    color: #fbfcfd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .window-body {
    height: 100%;
    width: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: center;
  }
  
  .map-frame {
  
    width: 700px;
    height: 400px;
  }
  