
.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9a8937;
  color: rgb(8, 8, 8);
  position: sticky;
  width: 100%;
  height: 64px;}

.toolbar-title {
  font-size: 1.5rem;
}

.logout-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #ac822d;
  color: #0d0d0c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.window-body {
  height: 100%;
  width: 100%;
  margin-top: 64px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.map-frame {

  width: 700px;
  height: 400px;
}
